.container{
	width: 700px;
	margin: 20px auto;
}
pre code {
  background-color: #fefefe;
  border: 1px solid #CCC;
  display: block;
  padding: 20px;
  margin: 0px 8px 0px 16px;
  border-radius: 4px;
	white-space: pre-wrap; 
	white-space: moz-pre-wrap;
	white-space: -pre-wrap; 
	white-space: -o-pre-wrap; 
	word-wrap: break-word; 
}
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#get-todos-block,#post-todos-block,#put-todos-block,#delete-todos-block{
	display: none;
}	
li{
	margin: 16px;
}
#post-todos-input, #put-todos-input{
	height: 100px;
	width: 100%;
	padding: 12px;
	font-family: monospace;
	border-radius: 2px;
	border: 1px solid #eee;
	display: none;
}
#postTodoBtn,#putTodoBtn{
	display: none;
}
#post-errors,#put-errors{
	color: red;
	font-size: 0.8em;
}

.pull-right{
	float: right;
	
}
.form-control{
	width: 40%;
	margin: 4px;
	height: 30px;
	display: inline-block;
	clear: none;
}